@media screen and (max-width:320px) {
    nav{
        width:100%;
        height: 45px;
        gap: 10px;
    }
    nav .menu{
        display: block;
        color: rgb(51,51,51);
        margin-left: 10px;
    }
    nav .logo img{
        height: 38px;
        margin-left: -55px;
    }
    nav .search{
        display: none;
    }
    nav .login{
        margin-left: 0px;
        height: 30px;
    }
    nav .login:hover .dropdown-items{
        display:none;
    }
    nav .login span{
        font-size: 0.9rem;
    }
    nav .login p{
        font-size: 15px;
        font-weight: 550;
    }
    nav .cart .material-symbols-outlined {
        font-size: 1.5rem;
    }
    nav .login span:nth-child(3){
        display: none;
    }
    nav .login span:nth-child(1){
        font-size: 1.5rem;
    }
    .selector .area .items:nth-child(4){
        display: none;
    }
    .selector .area .items:nth-child(3) span{
        display: none;
    }
    .slide1 .area .item img {
        box-sizing: border-box;
        height: 80px;
        width: 95%;
        cursor: pointer;
    }
    .slide2 .area .item img {
        box-sizing: border-box;
        height: 80px;
        width: 95%;
        cursor: pointer;
    }
    .foot .items span{
        font-size: 8px;
    }
    .foot .items p{
        font-size: 5px;
    }
}